<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ngx-toastr@latest/toastr.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            class="nav-link"
            aria-current="page"
            routerLinkActive="active text-primary"
            [routerLink]="['color-change']"
            >color-change</a
          >
          <a
          class="nav-link"
          aria-current="page"
          routerLinkActive="active text-primary"
          [routerLink]="['form']"
          >form</a
        >
        <a
        class="nav-link"
        aria-current="page"
        routerLinkActive="active text-primary"
        [routerLink]="['fils-pere']"
        >fils-pere</a
      >
      <a
      class="nav-link"
      aria-current="page"
      routerLinkActive="active text-primary"
      [routerLink]="['cv-embauche']"
      >cv-embauche</a
    >
    <a
    class="nav-link"
    aria-current="page"
    routerLinkActive="active text-primary"
    [routerLink]="['mini-word']"
    >mini-word</a
  >
  <a
  class="nav-link"
  aria-current="page"
  routerLinkActive="active text-primary"
  [routerLink]="['rainbow']"
  >rainbow</a
>
<a
class="nav-link"
aria-current="page"
routerLinkActive="active text-primary"
[routerLink]="['login']"
>login</a>
<a
class="nav-link"
aria-current="page"
routerLinkActive="active text-primary"
[routerLink]="['images']"
>images</a>
      </div>
      </div>
    </div>
  </nav>